# 5-1 결정 트리

신상품으로 캔 와인을 판매하려고 한다!! 그런데 급한 제작과정 때문에 화이트 와인/레드 와인 기입을 못 해버렸다....!!! 알코올 도수, 당도 PH만으로 화이트/레드 와인을 
구별해야 하는데...

In [3]:
import pandas as pd
wine = pd.read_csv('https://bit.ly/wine_csv_data')

In [4]:
wine.head()

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0

0(음성 클래스):레드 와인, 1(양성 클래스):화이트 와인 이라고 한다!! 일단 info()메서드로 각 열의 데이터 타입과 누락된 데이터가 있는지 확인해보자..!!

In [6]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alcohol  6497 non-null   float64
 1   sugar    6497 non-null   float64
 2   pH       6497 non-null   float64
 3   class    6497 non-null   float64
dtypes: float64(4)
memory usage: 203.2 KB

In [12]:
wine.head(0)

Empty DataFrame
Columns: [alcohol, sugar, pH, class]
Index: []

In [13]:
wine.describe()

           alcohol        sugar           pH        class
count  6497.000000  6497.000000  6497.000000  6497.000000
mean     10.491801     5.443235     3.218501     0.753886
std       1.192712     4.757804     0.160787     0.430779
min       8.000000     0.600000     2.720000     0.000000
25%       9.500000     1.800000     3.110000     1.000000
50%      10.300000     3.000000     3.210000     1.000000
75%      11.300000     8.100000     3.320000     1.000000
max      14.900000    65.800000     4.010000     1.000000

In [15]:
data = wine[['alcohol','sugar','pH']].to_numpy()
target = wine['class'].to_numpy()

In [17]:
wine['class']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
6492    1.0
6493    1.0
6494    1.0
6495    1.0
6496    1.0
Name: class, Length: 6497, dtype: float64

In [18]:
wine['alcohol']

0        9.4
1        9.8
2        9.8
3        9.8
4        9.4
        ...
6492    11.2
6493     9.6
6494     9.4
6495    12.8
6496    11.8
Name: alcohol, Length: 6497, dtype: float64

In [24]:
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(data, target, test_size = 0.2, random_state=42)

In [25]:
train_input.shape

(5197, 3)

In [26]:
test_input.shape

(1300, 3)

In [28]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(train_input)
train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [33]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(train_scaled, train_target)
print(lr.score(train_scaled, train_target))
print(lr.score(test_scaled, test_target))

0.7808350971714451
0.7776923076923077

점수가 그렇네 높지는 않네... 분류가 어려운가 보다..두 점수다 낮으니 과소적합된거고 뭘 어떻게 .... 올릴까

In [34]:
print(lr.coef_, lr.intercept_)

[[ 0.51268071  1.67335441 -0.68775646]] [1.81773456]